<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utour.mapper.AreaMapper">

    <resultMap id="resultMap" type="com.utour.entity.Area" extends="common.base.resultMap">
        <result javaType="java.lang.String" property="nationCode" column="NATION_CODE" />
        <result javaType="java.lang.String" property="areaCode" column="AREA_CODE" />
        <result javaType="java.lang.String" property="areaName" column="AREA_NAME" />
        <result javaType="java.lang.Character" property="useYn" column="USE_YN" />
    </resultMap>

    <sql id="select">
        SELECT
          NATION_CODE
        , AREA_CODE
        , AREA_NAME
        , USE_YN
        <include refid="common.base.column" />
        FROM AREA T
    </sql>

    <sql id="where">
        <where>
            <if test="nationCode != null">AND NATION_CODE = #{nationCode}</if>
            <if test="areaCode != null">AND AREA_CODE = #{areaCode}</if>
        </where>
    </sql>

    <select id="exists" resultType="java.lang.Boolean">
        <include refid="common.base.existsPrefix" />
        <include refid="select" />
        <include refid="where" />
        <include refid="common.base.existsSuffix" />
    </select>

    <select id="findById" resultMap="resultMap">
        <include refid="select" />
        WHERE NATION_CODE = #{nationCode}
        AND AREA_CODE = #{areaCode}
    </select>

    <select id="findAll" resultMap="resultMap">
        <include refid="select" />
        <include refid="where" />
    </select>

    <insert id="save">
        INSERT INTO AREA (
          NATION_CODE
        , AREA_CODE
        , AREA_NAME
        , USE_YN
        ) VALUES (
          #{nationCode }
        , #{areaCode }
        , #{areaName }
        , #{useYn }
        )
        <include refid="common.base.duplicateUpdate" />
        , AREA_NAME = VALUES(AREA_NAME)
        , USE_YN = VALUES(USE_YN)
    </insert>

    <delete id="delete">
        DELETE FROM AREA
        WHERE NATION_CODE = #{nationCode}
          AND AREA_CODE = #{areaCode}
    </delete>

</mapper>