<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utour.mapper.CarouselMapper">

    <resultMap id="resultMap" type="com.utour.entity.Carousel" extends="common.base.resultMap">
        <result javaType="java.lang.Long" property="carouselId" column="CAROUSEL_ID" />
        <result javaType="java.lang.String" property="title" column="TITLE" />
        <result javaType="java.lang.String" property="imagePath" column="IMAGE_PATH" />
        <result javaType="java.lang.String" property="linkUrl" column="LINK_URL" />
        <result javaType="java.lang.Integer" property="ordinalPosition" column="ORDINAL_POSITION" />
        <result javaType="java.lang.Character" property="useYn" column="USE_YN" />
    </resultMap>

    <select id="exists" resultType="java.lang.Boolean">
        <include refid="common.base.existsPrefix" />
        SELECT * FROM CAROUSEL
        <where>
            <if test="carouselId != null">AND CAROUSEL_ID = #{carouselId}</if>
            <if test="useYn != null">AND USE_YN = #{useYn}</if>
        </where>
        <include refid="common.base.existsSuffix" />
    </select>

    <select id="findById" resultMap="resultMap">
        SELECT
          CAROUSEL_ID
        , TITLE
        , IMAGE_PATH
        , LINK_URL
        , ORDINAL_POSITION
        , USE_YN
        <include refid="common.base.column" />
        FROM CAROUSEL
        WHERE CAROUSEL_ID = #{carouselId}
    </select>

    <select id="findAll" resultMap="resultMap">
        SELECT
          CAROUSEL_ID
        , TITLE
        , IMAGE_PATH
        , LINK_URL
        , ORDINAL_POSITION
        , USE_YN
        <include refid="common.base.column" />
        FROM CAROUSEL
        <where>
            <if test="carouselId != null">AND CAROUSEL_ID = #{carouselId}</if>
            <if test="useYn != null">AND USE_YN = #{useYn}</if>
        </where>
        ORDER BY ORDINAL_POSITION, CAROUSEL_ID DESC
    </select>

    <insert id="save">
        INSERT INTO CAROUSEL(
          CAROUSEL_ID
        , TITLE
        , IMAGE_PATH
        , LINK_URL
        , ORDINAL_POSITION
        , USE_YN
        ) VALUES (
          #{carouselId}
        , #{title}
        , #{imagePath}
        , #{linkUrl}
        , #{ordinalPosition}
        , #{useYn}
        )
        <include refid="common.base.duplicateUpdate" />
        <if test="title != null">, TITLE = VALUES(TITLE)</if>
        <if test="imagePath != null">, IMAGE_PATH = VALUES(IMAGE_PATH)</if>
        <if test="linkUrl != null">, LINK_URL = VALUES(LINK_URL)</if>
        <if test="ordinalPosition != null">, ORDINAL_POSITION = VALUES(ORDINAL_POSITION)</if>
        <if test="useYn != null">, USE_YN = VALUES(USE_YN)</if>
    </insert>

    <delete id="delete">
        DELETE FROM CAROUSEL
        WHERE CAROUSEL_ID = #{carouselId}
    </delete>

</mapper>