<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utour.mapper.CodeGroupMapper">

    <resultMap id="resultMap" type="com.utour.entity.CodeGroup" extends="common.base.resultMap">
        <result javaType="java.lang.String" property="groupCode" column="GROUP_CODE" />
        <result javaType="java.lang.String" property="groupName" column="GROUP_NAME" />
        <result javaType="java.lang.Character" property="useYn" column="USE_YN" />
        <result javaType="java.lang.String" property="description" column="DESCRIPTION" />
    </resultMap>

    <sql id="select">
        SELECT
          GROUP_CODE
        , GROUP_NAME
        , USE_YN
        , DESCRIPTION
        <include refid="common.base.column" />
        FROM CODE T
    </sql>

    <sql id="where">
        <where>
            <if test="groupCode != null">AND GROUP_CODE = #{groupCode}</if>
            <if test="useYn != null">AND USE_YN = #{useYn}</if>
        </where>
    </sql>

    <select id="exists" resultType="java.lang.Boolean">
        <include refid="common.base.existsPrefix" />
        <include refid="select" />
        <include refid="where" />
        <include refid="common.base.existsSuffix" />
    </select>

    <select id="findById" resultMap="resultMap">
        <include refid="select" />
        WHERE GROUP_CODE = #{groupCode}
    </select>

    <select id="findAll" resultMap="resultMap">
        <include refid="select" />
        <include refid="where" />
    </select>

    <insert id="save">
        INSERT INTO CODE (
          GROUP_CODE
        , GROUP_NAME
        , USE_YN
        , DESCRIPTION
        ) VALUES (
          #{groupCode }
        , #{groupName }
        , #{useYn}
        , #{description }
        )
        <include refid="common.base.duplicateUpdate" />
        , GROUP_NAME = VALUES(GROUP_NAME)
        , USE_YN = VALUES(USE_YN)
        , DESCRIPTION = VALUES(DESCRIPTION)
    </insert>

    <delete id="delete">
        DELETE FROM CODE
        WHERE GROUP_CODE = #{groupCode}
    </delete>

</mapper>