<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utour.mapper.HotelImageMapper">

    <resultMap id="resultMap" type="com.utour.entity.HotelImage" extends="common.base.resultMap">
        <result javaType="java.lang.Long" property="hotelId" column="HOTEL_ID" />
        <result javaType="java.lang.Integer" property="imageId" column="IMAGE_ID" />
        <result javaType="java.lang.String" property="src" column="SRC" />
        <result javaType="java.lang.String" property="alt" column="ALT" />
        <result javaType="java.lang.String" property="description" column="DESCRIPTION" />
    </resultMap>

    <sql id="select">
        SELECT
          HOTEL_ID
        , IMAGE_ID
        , SRC
        , ALT
        , DESCRIPTION
        <include refid="common.base.column" />
        FROM HOTEL_IMAGE T
    </sql>

    <sql id="where">
        <where>
            <if test="hotelId != null">AND HOTEL_ID = #{hotelId}</if>
            <if test="imageId != null">AND IMAGE_ID = #{imageId}</if>
        </where>
    </sql>

    <select id="exists" resultType="java.lang.Boolean">
        <include refid="common.base.existsPrefix" />
        <include refid="select" />
        <include refid="where" />
        <include refid="common.base.existsSuffix" />
    </select>

    <select id="findById" resultMap="resultMap">
        <include refid="select" />
        WHERE HOTEL_ID = #{hotelId}
          AND IMAGE_ID = #{imageId}
    </select>

    <select id="findAll" resultMap="resultMap">
        <include refid="select" />
        <include refid="where" />
        <include refid="common.base.pagination" />
    </select>

    <insert id="save">
        INSERT INTO HOTEL_IMAGE (
          HOTEL_ID
        , IMAGE_ID
        , SRC
        , ALT
        , DESCRIPTION
        ) VALUES (
          #{hotelId}
        , #{imageId}
        , #{src}
        , #{alt}
        , #{description}
        )
        <include refid="common.base.duplicateUpdate" />
        , SRC = VALUES(SRC)
        , ALT = VALUES(ALT)
        , DESCRIPTION = VALUES(DESCRIPTION)
    </insert>

    <delete id="delete">
        DELETE FROM HOTEL_IMAGE
        WHERE HOTEL_ID = #{hotelId}
          AND IMAGE_ID = #{imageId}
    </delete>

</mapper>