<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utour.mapper.HotelFacilityMapper">

    <resultMap id="resultMap" type="com.utour.entity.HotelFacility">
        <result javaType="java.lang.Long" property="hotelId" column="HOTEL_ID" />
        <result javaType="java.lang.Integer" property="facilityId" column="FACILITY_ID" />
        <result javaType="java.lang.String" property="icon" column="ICON" />
        <result javaType="java.lang.String" property="description" column="DESCRIPTION" />
        <result javaType="java.lang.Character" property="useYn" column="USE_YN" />
        <result javaType="java.time.LocalDateTime" property="createAt" column="CREATE_AT" />
        <result javaType="java.time.LocalDateTime" property="updateAt" column="UPDATE_AT" />
    </resultMap>

    <sql id="select">
        SELECT
          HOTEL_ID
        , FACILITY_ID
        , ICON
        , DESCRIPTION
        , USE_YN
        , CREATE_AT
        , UPDATE_AT
        FROM HOTEL_FACILITY T
    </sql>

    <sql id="where">
        <where>
            <if test="hotelId != null">AND HOTEL_ID = #{hotelId}</if>
            <if test="useYn != null">AND USE_YN = #{useYn}</if>
        </where>
    </sql>

    <select id="exists" resultType="java.lang.Boolean">
        <include refid="common.base.existsPrefix" />
        <include refid="select" />
        <include refid="where" />
        <include refid="common.base.existsSuffix" />
    </select>

    <select id="findById" resultMap="resultMap">
        <include refid="select" />
        WHERE HOTEL_ID = #{hotelId}
        AND FACILITY_ID = #{facilityId}
    </select>

    <select id="findAll" resultMap="resultMap">
        <include refid="select" />
        <include refid="where" />
        <include refid="common.base.pagination" />
    </select>

    <insert id="save">
        INSERT INTO HOTEL_FACILITY (
          HOTEL_ID
        , FACILITY_ID
        , ICON
        , DESCRIPTION
        , USE_YN
        ) VALUES (
          #{hotelId }
        , #{facilityId }
        , #{icon }
        , #{description }
        , #{useYn }
        )
        <include refid="common.base.duplicateUpdate" />
        , DESCRIPTION = VALUES(DESCRIPTION)
        , USE_YN = VALUES(USE_YN)
    </insert>

    <delete id="delete">
        DELETE FROM HOTEL_FACILITY
        WHERE HOTEL_ID = #{hotelId}
          AND FACILITY_ID = #{facilityId}
    </delete>

</mapper>