<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utour.mapper.InquiryMapper">

    <resultMap id="resultMap" type="com.utour.entity.Inquiry" extends="common.content.resultMap">
        <result javaType="java.lang.Long" property="inquiryId" column="INQUIRY_ID" />
        <result javaType="java.lang.String" property="contact" column="CONTACT" />
        <result javaType="java.lang.String" property="email" column="EMAIL" />
        <result javaType="java.lang.String" property="status" column="STATUS" />
    </resultMap>

    <sql id="select">
        SELECT
          INQUIRY_ID
        , CONTACT
        , EMAIL
        , STATUS
        <include refid="common.content.column" />
        FROM INQUIRY T
    </sql>

    <sql id="where">
        <where>
            <if test="inquiryId != null">AND INQUIRY_ID = #{inquiryId}</if>
            <if test="status != null">AND STATUS = #{status}</if>
        </where>
    </sql>

    <select id="exists" resultType="java.lang.Boolean">
        <include refid="common.base.existsPrefix" />
        <include refid="select" />
        <include refid="where" />
        <include refid="common.base.existsSuffix" />
    </select>

    <select id="findById" resultMap="resultMap">
        <include refid="select" />
        WHERE INQUIRY_ID = #{inquiryId}
    </select>

    <select id="findAll" resultMap="resultMap">
        SELECT
          INQUIRY_ID
        , CONTACT
        , EMAIL
        , STATUS
        , WRITER
        , TITLE
        FROM INQUIRY T
        <include refid="where" />
    </select>

    <select id="findPage" resultMap="resultMap">
        SELECT
          INQUIRY_ID
        , CONTACT
        , EMAIL
        , STATUS
        , WRITER
        , TITLE
        FROM INQUIRY T
        <where><include refid="common.content.whereByBoardQuery" /></where>
        ORDER BY INQUIRY_ID DESC
        <include refid="common.base.pagination" />
    </select>

    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) AS CNT
        FROM INQUIRY T
        <where><include refid="common.content.whereByBoardQuery" /></where>
        ORDER BY INQUIRY_ID DESC
        <include refid="common.base.pagination" />
    </select>

    <insert id="save">
        INSERT INTO INQUIRY (
          INQUIRY_ID
        , CONTACT
        , EMAIL
        , STATUS
        <include refid="common.content.column" />
        ) VALUES (
          #{inquiryId}
        , #{contact}
        , #{email}
        , #{status}
        <include refid="common.content.value" />
        )
        <include refid="common.content.duplicateUpdate" />
        , CONTACT = VALUES(CONTACT)
        , EMAIL = VALUES(EMAIL)
        , STATUS = VALUES(STATUS)
    </insert>

    <update id="updateStatus">
        UPDATE INQUIRY
        SET STATUS = #{status}
        WHERE INQUIRY_ID = #{inquiryId}
    </update>

    <delete id="delete">
        DELETE FROM INQUIRY
        WHERE INQUIRY_ID = #{inquiryId}
    </delete>

</mapper>