<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utour.mapper.NationMapper">

    <resultMap id="resultMap" type="com.utour.entity.Nation">
        <result javaType="java.lang.String" property="nationCode" column="NATION_CODE" />
        <result javaType="java.lang.String" property="nationName" column="NATION_NAME" />
        <result javaType="java.lang.Character" property="useYn" column="USE_YN" />
        <result javaType="java.time.LocalDateTime" property="createAt" column="CREATE_AT" />
        <result javaType="java.time.LocalDateTime" property="updateAt" column="UPDATE_AT" />
    </resultMap>

    <sql id="select">
        SELECT
          NATION_CODE
        , NATION_NAME
        , USE_YN
        , CREATE_AT
        , UPDATE_AT
        FROM NATION T
    </sql>

    <sql id="where">
        <where>
            <if test="nationCode != null">AND NATION_CODE = #{nationCode}</if>
            <if test="useYn != null">AND USE_YN = #{useYn}</if>
        </where>
    </sql>

    <select id="exists" resultType="java.lang.Boolean">
        <include refid="common.base.existsPrefix" />
        <include refid="select" />
        <include refid="where" />
        <include refid="common.base.existsSuffix" />
    </select>

    <select id="findById" resultMap="resultMap">
        <include refid="select" />
        WHERE NATION_CODE = #{nationCode}
    </select>

    <select id="findAll" resultMap="resultMap">
        <include refid="select" />
        <include refid="where" />
        <include refid="common.base.pagination" />
    </select>

    <insert id="save">
        INSERT INTO NATION (
          NATION_CODE
        , NATION_NAME
        , USE_YN
        ) VALUES (
          #{nationCode }
        , #{nationName }
        , #{useYn }
        )
        <include refid="common.base.duplicateUpdate" />
        , NATION_NAME = VALUES(NATION_NAME)
        , USE_YN = VALUES(USE_YN)
    </insert>

    <delete id="delete">
        DELETE FROM NATION
        WHERE NATION_CODE = #{nationCode}
    </delete>

</mapper>