<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utour.mapper.NoticeMapper">

    <resultMap id="resultMap" type="com.utour.entity.Notice" extends="common.content.resultMap">
        <result property="noticeId" javaType="java.lang.Long" column="NOTICE_ID" />
        <result property="noticeYn" javaType="java.lang.Character" column="NOTICE_YN" />
        <result javaType="java.lang.Integer" property="pv" column="PV" />
    </resultMap>

    <sql id="select">
        SELECT
          NOTICE_ID
        , NOTICE_YN
        , PV
        <include refid="common.content.select" />
        FROM NOTICE T
    </sql>

    <sql id="where">
        <where>
            <if test="noticeId != null">AND NOTICE_ID = #{noticeId}</if>
            <if test="noticeYn != null">AND NOTICE_YN = #{noticeYn}</if>
        </where>
    </sql>

    <select id="exists" resultType="java.lang.Boolean">
        <include refid="common.base.existsPrefix" />
        <include refid="select" />
        <include refid="where" />
        <include refid="common.base.existsSuffix" />
    </select>

    <select id="findById" resultMap="resultMap">
        <include refid="select" />
        WHERE NOTICE_ID = #{noticeId}
    </select>

    <select id="findAll" resultMap="resultMap">
        SELECT
          NOTICE_ID
        , NOTICE_YN
        , PV
        , TITLE
        , WRITER
        , CREATE_AT
        FROM NOTICE T
        <include refid="where" />
        ORDER BY NOTICE_ID DESC
    </select>

    <select id="findPage" resultMap="resultMap">
        SELECT
          NOTICE_ID
        , NOTICE_YN
        , PV
        , TITLE
        , WRITER
        , CREATE_AT
        FROM NOTICE T
        <include refid="common.content.whereByBoardQuery" />
        ORDER BY NOTICE_ID DESC
        <include refid="common.base.pagination" />
    </select>

    <select id="count" resultType="java.lang.Long">
        SELEct COUNT(*) AS CNT FROM (
        <include refid="select" />
        <include refid="common.content.whereByBoardQuery" />
        ) DUMMY
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="noticeId">
        INSERT INTO NOTICE (
          NOTICE_ID
        , NOTICE_YN
        , PV
        <include refid="common.content.column" />
        ) VALUES (
          #{noticeId}
        , #{noticeYn}
        , #{pv}
        <include refid="common.content.value" />
        )
        <include refid="common.content.duplicateUpdate" />
        , NOTICE_YN = VALUES(NOTICE_YN)
        , PV = VALUES(PV)
    </insert>

    <delete id="delete">
        DELETE FROM NOTICE
        WHERE NOTICE_ID = #{noticeId}
    </delete>

</mapper>