<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utour.mapper.NoticeAttachMapper">

    <resultMap id="resultMap" type="com.utour.entity.NoticeAttach" extends="common.attachment.resultMap">
        <result javaType="java.lang.Long" property="noticeId" column="NOTICE_ID"  />
    </resultMap>

    <sql id="select">
        SELECT
        <include refid="common.attachment.select" />
        ,  NOTICE_ID
        FROM NOTICE_ATTACHMENT T
    </sql>

    <sql id="where">
        <where>
            <if test="noticeId != null">AND NOTICE_ID = #{noticeId}</if>
        </where>
    </sql>

    <select id="exists" resultType="java.lang.Boolean">
        <include refid="common.base.existsPrefix" />
        <include refid="select" />
        <include refid="where" />
        <include refid="common.base.existsSuffix" />
    </select>

    <select id="findById" resultMap="resultMap">
        <include refid="select" />
        WHERE NOTICE_ID = #{noticeId}
          AND ATTACHMENT_ID = #{attachmentId}
    </select>

    <select id="findAll" resultMap="resultMap">
        <include refid="select" />
        <include refid="where" />
    </select>

    <insert id="save">
        INSERT INTO NOTICE_ATTACHMENT (
        <include refid="common.attachment.column" />
        , NOTICE_ID
        ) VALUES (
        <include refid="common.attachment.value" />
        , #{noticeId}
        )
        <include refid="common.attachment.duplicateUpdate" />
    </insert>

    <delete id="delete">
        DELETE FROM NOTICE_ATTACHMENT
        WHERE NOTICE_ID = #{noticeId}
          AND ATTACHMENT_ID = #{attachmentId}
    </delete>

</mapper>