<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utour.mapper.NoticeMapper">

    <resultMap id="resultMap" type="notice" extends="common.resultMap.content">
        <result property="noticeId" javaType="java.lang.Long" column="NOTICE_ID" />
        <result property="noticeYn" javaType="java.lang.Character" column="NOTICE_YN" />
    </resultMap>

    <select id="exists" resultType="java.lang.Boolean">
        <include refid="com.utour.mapper.common.sqlSyntax.existsPrefix" />
        SELECT COUNT(*) AS CNT FROM NOTICE
        <where>
            <if test="noticeId != null">AND NOTICE_ID = #{noticeId}</if>
            <if test="noticeYn != null">AND NOTICE_YN = #{noticeYn}</if>
        </where>
        <include refid="com.utour.mapper.common.sqlSyntax.existsSuffix" />
    </select>

    <sql id="select">
        SELECT
          NOTICE_ID
        , TITLE
        , CONTENT
        , WRITER
        , NOTICE_YN
        , PV
        , CREATE_AT
        , UPDATE_AT
        FROM NOTICE T
    </sql>

    <select id="findById" >
        <include refid="select" />
        WHERE NOTICE_ID = #{noticeId}
    </select>

    <select id="findAll" resultMap="resultMap">
        <include refid="select" />
        <where>
            <if test="noticeId != null">AND NOTICE_ID = #{noticeId}</if>
            <if test="noticeYn != null">AND NOTICE_YN = #{noticeYn}</if>
        </where>
        <include refid="com.utour.mapper.common.sqlSyntax.pagination" />
    </select>

    <insert id="save">
        INSERT INTO NOTICE (
          NOTICE_ID
        , TITLE
        , CONTENT
        , WRITER
        , NOTICE_YN
        , PV
        ) VALUES (
          #{noticeId}
        , #{title}
        , #{content}
        , #{writer}
        , #{noticeYn}
        , #{pv}
        )
        <include refid="com.utour.mapper.common.sqlSyntax.duplicateUpdate" />
        , TITLE = VALUES(title)
        , CONTENT = VALUES(content)
        , WRITER = VALUES(writer)
        , NOTICE_YN = VALUES(notice_yn)
        , PV = VALUES(pv)
    </insert>

    <delete id="delete">
        DELETE FROM NOTICE
        WHERE NOTICE_ID = #{noticeId}
    </delete>

</mapper>