<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utour.mapper.ProductImageMapper">

    <resultMap id="resultMap" type="com.utour.entity.ProductImage" extends="common.base.resultMap">
        <result javaType="java.lang.Long" property="productImageId" column="PRODUCT_IMAGE_ID" />
        <result javaType="java.lang.Long" property="productId" column="PRODUCT_ID" />
        <result javaType="java.lang.Long" property="productImageGroupId" column="PRODUCT_IMAGE_GROUP_ID" />
        <result javaType="java.lang.String" property="imageSrc" column="IMAGE_SRC" />
        <result javaType="java.lang.String" property="imagePath" column="IMAGE_PATH" />
        <result javaType="java.lang.String" property="description" column="DESCRIPTION" />
    </resultMap>

    <sql id="select">
        SELECT
          PRODUCT_IMAGE_ID
        , PRODUCT_ID
        , PRODUCT_IMAGE_GROUP_ID
        , IMAGE_SRC
        , IMAGE_PATH
        , DESCRIPTION
        <include refid="common.base.column" />
        FROM PRODUCT_IMAGE T
    </sql>

    <sql id="where">
        <where>
            <if test="productId != null">AND PRODUCT_ID = #{productId}</if>
            <if test="productImageId != null">AND PRODUCT_IMAGE_ID = #{productImageId}</if>
            <if test="productImageGroupId != null">AND PRODUCT_IMAGE_GROUP_ID = #{productImageGroupId}</if>
        </where>
    </sql>

    <select id="exists" resultType="java.lang.Boolean">
        /* com.utour.mapper.ProductImageMapper.exists */
        <include refid="common.base.existsPrefix" />
        <include refid="select" />
        <include refid="where" />
        <include refid="common.base.existsSuffix" />
    </select>

    <select id="findById" resultMap="resultMap">
        /* com.utour.mapper.ProductImageMapper.findById */
        <include refid="select" />
        WHERE PRODUCT_IMAGE_ID = #{productImageId}
    </select>

    <select id="findAll" resultMap="resultMap">
        /* com.utour.mapper.ProductImageMapper.findAll */
        <include refid="select" />
        <include refid="where" />
    </select>

    <insert id="save">
        /* com.utour.mapper.ProductImageMapper.save */
        INSERT INTO PRODUCT_IMAGE (
          PRODUCT_IMAGE_ID
        , PRODUCT_ID
        , PRODUCT_IMAGE_GROUP_ID
        , IMAGE_SRC
        , IMAGE_PATH
        , DESCRIPTION
        ) VALUES (
          #{productImageId }
        , #{productId }
        , #{productImageGroupId }
        , #{imageSrc }
        , #{imagePath }
        , #{description }
        )
        <include refid="common.base.duplicateUpdate" />
        , PRODUCT_IMAGE_GROUP_ID = VALUES(PRODUCT_IMAGE_GROUP_ID)
        , IMAGE_SRC = VALUES(IMAGE_SRC)
        , IMAGE_PATH = VALUES(IMAGE_PATH)
        , DESCRIPTION = VALUES(DESCRIPTION)
    </insert>

    <delete id="delete">
        /* com.utour.mapper.ProductImageMapper.delete */
        DELETE FROM PRODUCT_IMAGE
        <where>
            <choose>
                <when test="productImageId != null">AND PRODUCT_IMAGE_ID = #{productImageId}</when>
                <otherwise>
                    AND PRODUCT_ID = #{productId }
                    AND PRODUCT_IMAGE_GROUP_ID = #{productImageGroupId }
                </otherwise>
            </choose>
        </where>

    </delete>

</mapper>