<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utour.mapper.ProductMapper">

    <resultMap id="resultMap" type="com.utour.entity.Product" extends="common.content.resultMap">
        <result javaType="java.lang.Long" property="productId" column="PRODUCT_ID" />
        <result javaType="java.lang.String" property="productType" column="PRODUCT_TYPE" />
        <result javaType="java.lang.String" property="nationCode" column="NATION_CODE" />
        <result javaType="java.lang.String" property="areaCode" column="AREA_CODE" />
        <result javaType="java.lang.String" property="repImageSrc" column="REP_IMAGE_SRC" />
        <result javaType="java.lang.Character" property="useYn" column="USE_YN" />
    </resultMap>

    <sql id="select">
        SELECT
          PRODUCT_ID
        , PRODUCT_TYPE
        , NATION_CODE
        , AREA_CODE
        , REP_IMAGE_SRC
        , USE_YN
        <include refid="common.content.column" />
        FROM PRODUCT T
    </sql>

    <sql id="where">
        <where>
            <if test="productId != null">AND PRODUCT_ID = #{productId}</if>
            <if test="productType != null">AND PRODUCT_TYPE = #{productType}</if>
            <if test="useYn != null">AND USE_YN = #{useYn}</if>
            <if test="nationCode != null">AND NATION_CODE = #{nationCode}</if>
            <if test="areaCode != null">AND AREA_CODE = #{areaCode}</if>
        </where>
    </sql>

    <select id="exists" resultType="java.lang.Boolean">
        /* com.utour.mapper.ProductMapper.exists */
        <include refid="common.base.existsPrefix" />
        <include refid="select" />
        WHERE PRODUCT_ID = #{productId}
        <include refid="common.base.existsSuffix" />
    </select>

    <select id="findById" resultMap="resultMap">
        /* com.utour.mapper.ProductMapper.findById */
        <include refid="select" />
        WHERE PRODUCT_ID = #{productId}
    </select>

    <select id="findAll" resultMap="resultMap">
        /* com.utour.mapper.ProductMapper.findAll */
        <include refid="select" />
        <include refid="where" />
    </select>

    <select id="findPage" resultMap="resultMap">
        /* com.utour.mapper.ProductMapper.findPage */
        <include refid="select" />
        <where>
            <if test="useYn != null">AND USE_YN = #{useYn}</if>
            <if test="productId != null">AND PRODUCT_ID = #{productId}</if>
            <if test="productType != null">AND PRODUCT_TYPE = #{productType}</if>
            <if test="nationCode != null">AND NATION_CODE = #{nationCode}</if>
            <if test="areaCode != null">AND AREA_CODE = #{areaCode}</if>
            <if test="query != null">AND (TITLE LIKE CONCAT(#{query}, '%') OR DESCRIPTION LIKE CONCAT(#{query}, '%'))</if>
        </where>
        ORDER BY PRODUCT_ID DESC
        <include refid="common.base.pagination" />
    </select>

    <insert id="save">
        /* com.utour.mapper.ProductMapper.save */
        INSERT INTO PRODUCT (
          PRODUCT_ID
        , PRODUCT_TYPE
        , NATION_CODE
        , AREA_CODE
        , REP_IMAGE_SRC
        , USE_YN
        <include refid="common.content.column" />
        ) VALUES (
          #{productId}
        , #{productType}
        , #{nationCode}
        , #{areaCode}
        , #{repImageSrc}
        , #{useYn}
        <include refid="common.content.value" />
        )
        <include refid="common.content.duplicateUpdate" />
        , REP_IMAGE_SRC = VALUES(REP_IMAGE_SRC)
        , NATION_CODE = VALUES(NATION_CODE)
        , AREA_CODE = VALUES(AREA_CODE)
        , USE_YN = VALUES(USE_YN)
    </insert>

    <delete id="delete">
        /* com.utour.mapper.ProductMapper.delete */
        DELETE FROM PRODUCT WHERE PRODUCT_ID = #{productId}
    </delete>

</mapper>