<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utour.mapper.ProductMapper">

    <resultMap id="resultMap" type="com.utour.entity.Product" extends="common.base.resultMap">
        <result javaType="java.lang.Long" property="productId" column="PRODUCT_ID" />
        <result javaType="java.lang.String" property="productType" column="PRODUCT_TYPE" />
        <result javaType="java.lang.Long" property="hotelId" column="HOTEL_ID" />
        <result javaType="java.lang.String" property="displayType" column="DISPLAY_TYPE" />
        <result javaType="java.lang.String" property="title" column="TITLE" />
        <result javaType="java.lang.String" property="description" column="DESCRIPTION" />
        <result javaType="java.lang.Integer" property="ordinal" column="ORDINAL" />
        <result javaType="java.lang.String" property="src" column="SRC" />
        <result javaType="java.lang.Character" property="useYn" column="USE_YN" />
    </resultMap>

    <sql id="select">
        SELECT
          PRODUCT_ID
        , PRODUCT_TYPE
        , HOTEL_ID
        , DISPLAY_TYPE
        , TITLE
        , DESCRIPTION
        , ORDINAL
        , SRC
        , USE_YN
        <include refid="common.base.column" />
        FROM PRODUCT T
    </sql>

    <sql id="where">
        <where>
            <if test="productType != null">AND PRODUCT_TYPE = #{productType}</if>
            <if test="productId != null">AND PRODUCT_ID = #{productId}</if>
            <if test="useYn != null">AND USE_YN = #{useYn}</if>
            <if test="displayType != null">AND DISPLAY_TYPE = #{displayType}</if>
            <if test="title != null">AND TITLE LIKE CONCAT(#{title}, '%')</if>
        </where>
    </sql>

    <select id="exists" resultType="java.lang.Boolean">
        <include refid="common.base.existsPrefix" />
        <include refid="select" />
        <include refid="where" />
        <include refid="common.base.existsSuffix" />
    </select>

    <select id="findById" resultMap="resultMap">
        <include refid="select" />
        WHERE PRODUCT_ID = #{productId}
          AND PRODUCT_TYPE = #{productType}
    </select>

    <select id="findAll" resultMap="resultMap">
        <include refid="select" />
        <include refid="where" />
        ORDER BY T.ORDINAL DESC
    </select>

    <select id="findPage" resultMap="resultMap">
        <include refid="select" />
        <include refid="where" />
        ORDER BY T.ORDINAL DESC
        <include refid="common.base.pagination" />
    </select>

    <insert id="save">
        INSERT INTO PRODUCT (
          PRODUCT_TYPE
        , PRODUCT_ID
        , HOTEL_ID
        , DISPLAY_TYPE
        , TITLE
        , DESCRIPTION
        , ORDINAL
        , SRC
        , USE_YN
        ) VALUES (
          #{productType }
        , #{productId }
        , #{hotelId }
        , #{displayType }
        , #{title }
        , #{description }
        , #{ordinal }
        , #{src }
        , #{useYn }
        )
        <include refid="common.base.duplicateUpdate" />
        , HOTEL_ID = VALUES(HOTEL_ID)
        , TITLE = VALUES(TITLE)
        , DESCRIPTION = VALUES(DESCRIPTION)
        , ORDINAL = VALUES(ORDINAL)
        , SRC = VALUES(SRC)
        , USE_YN = VALUES(USE_YN)
    </insert>

    <delete id="delete">
        DELETE FROM PRODUCT
        WHERE PRODUCT_ID = #{productId}
          AND PRODUCT_TYPE = #{productType}
    </delete>

</mapper>