<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utour.mapper.UserMapper">

    <resultMap id="resultMap" type="com.utour.entity.User" extends="common.base.resultMap">
        <result javaType="java.lang.String" property="userId" column="USER_ID" />
        <result javaType="java.lang.Character" property="useYn" column="USE_YN" />
        <result javaType="java.lang.String" property="password" column="PASSWORD" />
        <result javaType="java.lang.String" property="name" column="NAME" />
    </resultMap>

    <sql id="select">
        SELECT
          USER_ID
        , USE_YN
        , PASSWORD
        , NAME
        <include refid="common.base.column" />
        FROM USER T
    </sql>

    <sql id="where">
        <where>
            <if test="userId != null">AND USER_ID = #{userId}</if>
            <if test="password != null">AND PASSWORD = #{password}</if>
        </where>
    </sql>

    <select id="exists" resultType="java.lang.Boolean">
        <include refid="common.base.existsPrefix" />
        <include refid="select" />
        <include refid="where" />
        <include refid="common.base.existsSuffix" />
    </select>

    <select id="findById" resultMap="resultMap">
        <include refid="select" />
        WHERE USER_ID = #{userId}
    </select>

    <select id="findAll" resultMap="resultMap">
        <include refid="select" />
        <include refid="where" />
    </select>

    <insert id="save">
        INSERT INTO USER (
          USER_ID
        , USE_YN
        , PASSWORD
        , NAME
        ) VALUES (
          #{userId}
        , #{useYn}
        , #{password}
        , #{name}
        )
        <include refid="common.base.duplicateUpdate" />
        , USE_YN = VALUES(USE_YN)
        , PASSWORD = VALUES(PASSWORD)
        , NAME = VALUES(NAME)
    </insert>

    <delete id="delete">
        DELETE FROM USER
        WHERE USER_ID = #{userId}
    </delete>

</mapper>