<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utour.mapper.ViewComponentEditorMapper">

    <resultMap id="resultMap" type="com.utour.entity.ViewComponentEditor" extends="common.component.resultMap">
        <result javaType="java.lang.String" property="content" column="CONTENT" />
    </resultMap>

    <sql id="select">
        SELECT
          CONTENT
        <include refid="common.component.column" />
        FROM VIEW_COMPONENT_EDITOR T
    </sql>

    <select id="exists" resultType="java.lang.Boolean">
        /* com.utour.mapper.ViewComponentEditorMapper.exists */
        <include refid="common.base.existsPrefix" />
        <include refid="select" />
        WHERE VIEW_COMPONENT_ID = #{viewComponentId}
        <include refid="common.base.existsSuffix" />
    </select>

    <select id="findById" resultMap="resultMap">
        /* com.utour.mapper.ViewComponentEditorMapper.findById */
        <include refid="select" />
        WHERE VIEW_COMPONENT_ID = #{viewComponentId}
    </select>

    <select id="findAll" resultMap="resultMap">
        /* com.utour.mapper.ViewComponentEditorMapper.findAll */
        <include refid="select" />
        WHERE VIEW_COMPONENT_ID = #{viewComponentId}
    </select>

    <insert id="save">
        /* com.utour.mapper.ViewComponentEditorMapper.save */
        INSERT INTO VIEW_COMPONENT_EDITOR (
          CONTENT
          <include refid="common.component.column" />
        ) VALUES (
          #{content}
          <include refid="common.component.value" />
        )
        <include refid="common.component.duplicateUpdate" />
        , CONTENT = VALUES(CONTENT)
    </insert>

    <delete id="delete">
        /* com.utour.mapper.ViewComponentTextMapper.delete */
        DELETE FROM VIEW_COMPONENT_EDITOR
        WHERE VIEW_COMPONENT_ID = #{viewComponentId}
    </delete>

</mapper>