<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utour.mapper.ViewComponentFacilityMapper">

    <resultMap id="resultMap" type="com.utour.entity.ViewComponentFacility" extends="common.component.resultMap">
        <result javaType="java.lang.Integer" property="viewComponentSeq" column="VIEW_COMPONENT_SEQ" />
        <result javaType="java.lang.String" property="iconType" column="ICON_TYPE" />
        <result javaType="java.lang.String" property="title" column="TITLE" />
        <result javaType="java.lang.String" property="description" column="DESCRIPTION" />
    </resultMap>

    <sql id="select">
        SELECT
          VIEW_COMPONENT_SEQ
        , ICON_TYPE
        , TITLE
        , DESCRIPTION
        <include refid="common.component.column" />
        FROM VIEW_COMPONENT_IMAGES T
    </sql>

    <sql id="where">
        WHERE VIEW_COMPONENT_ID = #{viewComponentId}
        <if test="viewComponentSeq != null">AND VIEW_COMPONENT_SEQ = #{viewComponentSeq}</if>
    </sql>

    <select id="exists" resultType="java.lang.Boolean">
        /* com.utour.mapper.ViewComponentFacilityMapper.exists */
        <include refid="common.base.existsPrefix" />
        <include refid="select" />
        <include refid="where" />
        <include refid="common.base.existsSuffix" />
    </select>

    <select id="findById" resultMap="resultMap">
        /* com.utour.mapper.ViewComponentFacilityMapper.findById */
        <include refid="select" />
        <include refid="where" />
    </select>

    <select id="findAll" resultMap="resultMap">
        /* com.utour.mapper.ViewComponentFacilityMapper.findAll */
        <include refid="select" />
        <include refid="where" />
    </select>

    <insert id="save">
        /* com.utour.mapper.ViewComponentFacilityMapper.save */
        INSERT INTO VIEW_COMPONENT_IMAGES (
          VIEW_COMPONENT_SEQ
        , IMAGE_SRC
        <include refid="common.component.column" />
        ) VALUES (
          #{viewComponentSeq}
        , #{imageSrc}
        <include refid="common.component.value" />
        )
        <include refid="common.component.duplicateUpdate" />
        , IMAGE_SRC = VALUES(IMAGE_SRC)
    </insert>

    <delete id="delete">
        /* com.utour.mapper.ViewComponentFacilityMapper.delete */
        DELETE FROM VIEW_COMPONENT_IMAGES
        WHERE VIEW_COMPONENT_ID = #{viewComponentId}
          AND VIEW_COMPONENT_SEQ = #{viewComponentSeq}
    </delete>

</mapper>